/* login.css */

html {
    background: var(--main-blue) url('/svg/auth/login-background.svg') no-repeat 0 100%;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-width: 320px;
}

body, main {
    background: none;
}

.row {
    padding-top: 60px;
    padding-bottom: 20px;
}

.login-outer {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
    max-width: 500px;
    padding: 0;
    border-radius: 10px;
    background-color: rgba(238, 239, 243, 0.9);
}

.login-box {
    border-radius: 10px 10px 0 0;
}

h1#login {
    background-color: #2f3874;
    color: #fff;
    font-weight: 200;
    width: auto;
    line-height: 60px;
    height: 60px;
    border: 1px solid #2f3874;
    border-radius: 10px 10px 0 0;
    margin-bottom: 45px;
    font-size: 1.6rem;
}

/*
 * FORM
 */
#email-form-group.form-group {
    height: 70px;
    margin-bottom: 0;
}

input#email.form-control,
input#password.form-control,
input#email.form-control:focus,
input#password.form-control:focus {
    margin: 0 auto;
    width: 70%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #fff;
    text-align: center;
    color: #2f3874;
    font-size: 0.9rem;
}

input#email.form-control:active,
input#password.form-control:active {
    background-color: transparent;
}

input#email.form-control::placeholder,
input#password.form-control::placeholder {
    color: grey;
}

/*
 * ERROR MESSAGES
 */
span.invalid-feedback {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.7rem;
    font-weight: lighter;
}

/*
 * REMEMBER ME
 */
label.form-check-label {
    font-size: 0.8rem;
    color: #434b81;
}

/*
 * BUTTON
 */
button.btn.btn-primary {
    margin: 15px 0;
    width: 160px;
    background-color: #2f3874;
    border: none;
    height: auto;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
}

button.btn.btn-primary:hover {
    background-color: #979bb9;
}

/*
 * FORGOT PASSWORD
 */
a.btn.btn-link.forgot-password {
    font-size: 0.8rem;
    color: #434b81;
    text-decoration: none;
    padding-bottom: 30px;
}

a.btn.btn-link.forgot-password:hover {
    color: #979bb9;

}

/*
 *  @MEDIA QUERIES
 */
@media (min-width: 768px) {

    h1#login {
        font-size: 2.25rem;
        line-height: 75px;
        height: 75px;
    }

    .row {
        padding-top: 90px;
    }

    span.invalid-feedback {
        font-size: 0.9rem;
    }

    .login-outer {
        margin-right: 50px;
    }

    input#email.form-control,
    input#password.form-control,
    input#email.form-control:focus,
    input#password.form-control:focus {
        font-size: 1.1rem;
    }

    label.form-check-label,
    a.btn.btn-link.forgot-password {
        font-size: 0.9rem;
    }

}