/* register.css */

html {
    background: var(--main-blue) url('/svg/auth/login-background.svg') no-repeat 0 100%;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-width: 320px;
}

body, main {
    background: none;
}

.container-fluid {
    padding: 20px 10px;
}

.register-box {
    margin: 0 auto;
    width: auto;
    max-width: 400px;
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(238, 239, 243, 0.9);
    border-radius: 10px;
}

.register-box h1 {
    width: auto;
    height: 60px;
    margin-bottom: 0;
    line-height: 60px;
    background-color: #2f3874;
    color: #fff;
    font-weight: 200;
    border: 1px solid #2f3874;
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: 1.6rem;
}

/*
 * FORM
 */
form {
    padding: 10px 5px 0 10px;
}

.row.form-group.email-requirement {
    font-style: italic;
    font-size: 0.8rem;
    height: auto;
}

.row.form-group {
    height: 80px;
    padding: 0;
    margin: 0;
    color: #2f3874;
    font-size: 0.9rem;
}

label,
input.form-control,
input.form-control:focus {
    margin-bottom: 0;
    padding: 0;
}

input.form-control {
    height: 30px;
}

label {
    color: #2f3874;
    margin: 0 0 0 7px;
    padding: 0;
    display: block;
    text-align: left;
}

input.form-control,
input.form-control:focus {
    margin-left: 20px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #fff;
    color: #2f3874;
    font-size: 0.9rem;
}

.confirm {
    margin-top: 10px;
}

/*
* ERROR MESSAGES
*/
span#error-messages {
    margin-top: 0;
    font-size: 0.6rem;
    font-weight: lighter;
}

/*
 * BUTTON
 */
button.btn.btn-primary {
    margin-top: 10px;
    margin-left: 10px;
    width: 160px;
    background-color: #2f3874;
    border: none;
    height: auto;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
}

button.btn.btn-primary:hover {
    background-color: #979bb9;
}

.submit,
.row.form-group.mb-0.submit {
    height: 65px;
}

/*
 *  @MEDIA QUERIES
 */
@media (min-width: 768px) {

    .container-fluid {
        padding: 80px 10px 10px;
    }

    .register-box {
        max-width: 700px;
        margin-right: 10%;
    }

    .row.form-group.email-requirement {
        margin-bottom: 15px;
        font-size: 0.9rem;
    }

    .register-box h1 {
        font-size: 2.25rem;
        margin-bottom: 15px;
        line-height: 75px;
        height: 75px;
    }

    form {
        padding: 0 0 20px 45px;
    }

    .row.form-group {
        font-size: 1.1rem;
        height: 45px;
    }

    label {
        text-align: right;
    }

    input.form-control,
    input.form-control:focus {
        margin-left: 20px;
        font-size: 1.1rem;
    }

    button.btn.btn-primary {
        margin-top: 15px;
    }

}