/* login.css */

html {
    background-image: url('/images/login-background-blue-2500x1429.jpg');
    background-color: var(--main-blue);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-width: 570px;
}

body, main {
    background: none;
}

.login-box {
    font-family: 'Quicksand', sans-serif;
    margin-top: 180px;
    margin-left: 45%;
    width: 700px;
    background-color: rgba(196, 199, 222, 0.9);
    border-radius: 10px;
}

.login-box h1 {
    background-color: #2f3874;
    color: #fff;
    font-weight: 200;
    width: auto;
    line-height: 75px;
    height: 75px;
    border: 1px solid #2f3874;
    border-radius: 10px 10px 0 0;
    margin-bottom: 45px;
    text-align: center;
}

/*
 * FORM
 */
form {
    padding-bottom: 45px;
}

.row.form-group {
    height: 55px;
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
}

label {
    text-align: right;
    color: #2f3874;
}

input.form-control,
input.form-control:focus {
    margin-left: 20px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #fff;
    color: #2f3874;
    font-size: 1.1rem;
}

/*
 * ERROR MESSAGES
 */
span#error-messages {
    margin-top: 0;
    font-size: 0.8rem;
    font-weight: lighter;
}

/*
 * BUTTON
 */
button.btn.btn-primary {
    margin-top: 15px;
    margin-left: 10px;
    width: 160px;
    background-color: var(--main-blue);
    border: none;
    height: auto;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
}

button.btn.btn-primary:hover {
    background-color: var(--main-orange);
}

/*
 *  @media queries
 */
@media (max-width: 767px) {

    .login-box {
        margin: 0 auto;
        margin-top: 115px;
        width: 500px;
    }

    .login-box h1 {
        margin-bottom: 15px;
    }

    form {
        padding: 20px;
    }

    label.col-10.col-md-5.col-form-label {
        margin-top: 25px;
        padding: 0 15px;
        display: block;
        color: #404040;
        text-align: left;
    }

    label,
    input.form-control,
    input.form-control:focus {
        padding: 0;
    }

    input.form-control,
    input.form-control:focus {
        margin-left: 15px;
    }

    .row.form-group {
        height: 90px;
    }

    button.btn.btn-primary {
        margin-top: 35px;
    }

}

@media (min-width: 768px) and (max-width: 1230px) {

    .login-box {
        margin: 0 auto;
        margin-top: 180px;
    }

}

@media (min-width: 1231px) and (max-width: 1350px) {

    .login-box {
        margin-top: 180px;
        margin-left: 41%;
    }

}