/* login.css */

main {
    background-color: #3B4691;
}

.container {
    margin: 0 auto;
    margin-top: 80px;
    width: 700px;
    height: 450px;
    background-color: lightgrey;
    border-radius: 30px;
}

.container h1 {
    margin: 55px 0 35px;
    text-align: left;
    font-size: 1.4rem;
    color: #212529;
    font-weight: 300;
}

input#name.form-control,
input#email.form-control,
input#password.form-control,
input#password-confirm {
    background-color: lightgrey;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #fff;
    margin-bottom: 10px;
    text-align: center;
}





.form-group.row {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3rem;
}

button.btn.btn-primary {
    margin-top: 35px;
    width: 160px;
    background-color: #3B4691;
    border: none;
    border-radius: 30px;
}

button.btn.btn-primary:hover {
    background-color: #FA7308;
}

a.btn.btn-link {
    color: #3B4691;
    font-weight: 300;
}