/* search.css */

.wrapper {
    width: 100%;
    background-color: var(--main-blue);
}

.search-box, .results,
.reviews {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}

/*
 * SEARCH BOX
 */

.search-box {
    padding: 50px 0 30px;
    text-align: center;
    height: 100%;
}

.search-box h1 {
    font-size: 2.5rem;
    color: lightgrey;
}

.form-group {
    margin: 0 auto;
    margin-top: 50px;
    display: block;
    overflow: auto;
    width: 630px;
    height: auto;
    padding: 10px;
    border-radius: 35px;
    background-color: #626aa7;
}

input.form-control {
    width: 550px;
    height: 60px;
    font-size: 1.6rem;
    background-color: #fff;
    border-radius: 35px 0 0 35px;
    border: none;
    border-right: 1px solid #ced4da;
}

button.btn.btn-default {
    width: 60px;
    height: 60px;
    padding: 10px;
    border: none;
    border-radius: 0 35px 35px 0;
    background-color: #fff;
}

button.btn.btn-default img {
    width: 40px;
    height: 40px;
}

button.btn.btn-default:hover {
    background-color: lightgrey;
}

/*
 * RESULTS
 */

.results {
    margin-top: 30px;
}

.results, .reviews {
    padding: 20px 50px;
    /*background-color: #fff;*/
}

.results h2, .noResults {
    margin: 15px 0;
    font-size: 1.8rem;
    color: #555e6a;
}

.list-group {
    padding: 20px;
    text-align: left;
    font-size: 1.2rem;
}

.subject-course-code {
    margin-right: 25px;
}

.course-details {
    margin-bottom: 10px;
}

.course-details.left p.course a {
    margin-bottom: 15px;
    font-weight: 300;
}

.professor {
    margin-top: 15px;
}

.subject-course-code p, .course a,
.course-details p {
    color: #29313e;
}

.instructor {
    margin: 5px 0;
}

.review {
    margin-top: 15px;
}


/*
 *  SCREEN: SM
 */
@media (max-width: 767px) {

    nav ul.navbar-nav.ml-auto {
        background-color: rgba(252, 252, 252);
        box-shadow: 1px 1px 10px 1px #DEDEDD;
    }

}


/*.noResults {*/
    /*padding: 20px;*/
    /*font-size: 1.4rem;*/
/*}*/