/* search.css */

.container-fluid {
    background-color: var(--main-blue);
    height: 28vh;
}



#r {
    border: 1px solid red;
}




h1 {
    margin-top: 5%;
    text-align: center;
    font-size: 2.5rem;
    color: lightgrey;
}

.form-group {
    /*margin: 0 auto;*/
    margin-top: 50px;
    display: block;
    overflow: auto;
    width: 100%;
    height: auto;
    padding: 1.5%;
    border-radius: 35px;
    background-color: #626aa7;
}

input.form-control {
    width: 87%;
    height: 60px;
    font-size: 1.6rem;
    background-color: #fff;
    border-radius: 35px 0 0 35px;
    border: none;
    border-right: 1px solid #ced4da;
}

button.btn.btn-default {
    width: 9%;
    height: 60px;
    padding: 1.5%;
    border: none;
    border-radius: 0 35px 35px 0;
    background-color: #fff;
}

button.btn.btn-default img {
    width: 46.3%;
    /*height: 40px;*/
}

button.btn.btn-default:hover {
    background-color: lightgrey;
}

/*
 * RESULTS
 */

.results {
    margin-top: 30px;
}

.results, .reviews {
    padding: 20px 50px;
    /*background-color: #fff;*/
}

.results h2, .noResults {
    margin: 15px 0;
    font-size: 1.8rem;
    color: #555e6a;
}

.list-group {
    padding: 20px;
    text-align: left;
    font-size: 1.2rem;
}

.subject-course-code {
    margin-right: 25px;
}

.course-details {
    margin-bottom: 10px;
}

.course-details.left p.course a {
    margin-bottom: 15px;
    font-weight: 300;
}

.professor {
    margin-top: 15px;
}

.subject-course-code p, .course a,
.course-details p {
    color: #29313e;
}

.instructor {
    margin: 5px 0;
}

.review {
    margin-top: 15px;
}

/*.noResults {*/
/*padding: 20px;*/
/*font-size: 1.4rem;*/
/*}*/