/* showcourse.css */

/*
 * LAYOUT
 */
.content {
    width: 100%;
    min-width: 320px;
    margin: 0;
    padding: 25px 0;
    color: #555e6a;
}

.course-wrapper,
.course-statistics,
.row.rate-btn {
    width: 100%;
    max-width: 500px;
}

.additional-statistics,
.reviews-wrapper {
    max-width: 500px;
}

/*
 * COURSE WRAPPER
 */
.course-wrapper {
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 2%;
}

/*
 * SUBJECT-COURSE-CODE COL
 */
.subject-course-code {
    border-right: 1px solid lightgrey;
    padding: 2% 1% 0 0;
}

.subject-container p {
    font-size: 1rem;
    line-height: 100%;
    text-align: center;
}

.subject-icon img {
    margin: 0 auto;
    max-width: 40px;
    height: auto;
    display: block;
}

/*
 * COURSE TITLE COL
 */
.course h1 {
    margin: 2% 0 2%;
    font-size: 1.2rem;
}

.subject-name {
    margin-bottom: 5px;
}

.professor-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
}

.professor {
    margin-right: 15px;
}

.instructor p {
    margin-bottom: 5px;
}

/*
 * OVERALL RATING
 */
.score {
    padding: 0;
}

.overall-rating span {
    margin-top: 2%;
    font-size: 2rem;
    color: #ffad01;
    line-height: 100%;
    vertical-align: top;
}

.row.review-stars {
    width: 100%;
    max-width: 100%;
}

.review-stars img {
    width: 100%;
    height: auto;
    max-width: 120px;
    margin-top: 7px;
}

/*
 *  CONFIRMATION MESSAGE
 */
.alert {
    height: auto;
    text-align: center;
}

.alert h3 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

.alert p {
    font-size: 0.9rem;
}

/*
 * COURSE STATISTICS
 */
.blue-banner {
    height: auto;
    background-color: var(--main-blue);
    color: #fff;
}

.course-statistics {
    margin: 0 auto;
    text-align: center;
    padding: 25px 0;
}

.box {
    padding: 0 5px;
}

.box img {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.box h2 {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.box p {
    font-size: 0.8rem;
    margin-bottom: 0;
}

/*
 * RATE BUTTON
 */
.row.rate-btn {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.rate-btn-col {
    padding: 0;
}

#rate-button {
    padding: 10px 15px;
    margin: 0;
    width: auto;
    height: 56px;
    background-color: var(--main-orange);
    border-radius: 10px;
}

a#rate-button {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

a#rate-button:hover {
    background-color: var(--main-blue);
    color: #fff;
}

/*
 * ADDITIONAL STATISTICS
 */
.additional-statistics {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    background-color: #fafafa;
}

.rating-col {
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 10px;
}

.additional-statistics button {
    width: auto;
    height: 30px;
    border-radius: 25px;
    background-color: lightgrey;
    border: none;
}

.additional-statistics button:hover {
    background-color: #bdbdbd;
}

.additional-statistics p {
    margin-left: 5px;
    margin-bottom: 0;
    font-size: 0.9rem;
    line-height: 45px;
}

.additional-statistics img {
    width: 96px;
    height: auto;
    background-color: transparent;
}

.break {
    display: block;
    line-height: 15px;
}

/*
 * REVIEWS WRAPPER
 */
.reviews-wrapper {
    margin: 0 auto;
    margin-top: 5px;
    padding: 10px;
}

.reviews-wrapper h2 {
    margin: 15px 0;
    font-size: 1.3rem;
}

.list-group.list-group-flush,
.list-group-item.d-flex.flex-row.review-item {
    padding: 0;
}

/*
 * REVIEW LAYOUT
 */
.review-sidebar {
    width: 20%;
    padding: 2%;
}

.review {
    width: 72%;
    padding: 1% 2%;
}

/*
 * REVIEW SIDEBAR
 */
img.user-avatar {
    width: 40px;
    height: auto;
}

#username, #date {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.6rem;
    text-align: center;
}

/*
 * REVIEW
 */
.user-overall-rating img {
    width: 86px;
    height: auto;
}

.review p {
    margin: 5px 0;
    font-size: 0.9rem;
}

.comment-tips {
    color: #3490dc;
}

/*
 * VOTING FEEDBACK
 */
.thumbs-up img,
.thumbs-down img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

/*
 * IF NO REVIEWS
 */
.no-reviews-wrapper {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 900px;
}

.review-banner {
    height: auto;
    background-color: #1C4A8C;
    padding: 0;
}

a#first-review {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 0.9rem;
    text-decoration: none;
    text-align: center;
    padding: 30px 30px;
}

a#first-review:hover {
    background-color: var(--main-orange);
}

img#hand-rating {
    width: 40px;
    height: 40px;
    margin-right: 25px;
}

/*
 *  ERROR MESSAGE
 */
#user-message {
    height: auto;
    font-size: 1.2rem;
    text-align: center;
}

/*
*  @MEDIA QUERIES
*/
@media (min-width: 576px) {

    .course-wrapper,
    .course-statistics,
    .row.rate-btn {
        max-width: 900px;
    }

    .additional-statistics,
    .reviews-wrapper {
        max-width: 850px;
    }

    .course-wrapper {
        margin-bottom: 30px;
    }

    .subject-course-code {
        padding: 1%;
    }

    .subject-container p {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .subject-icon img {
        max-width: 75px;
        max-height: 75px;
    }

    .course h1 {
        font-size: 1.7rem;
        margin: 0 0 10px;
    }

    .subject-name {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .professor-icon {
        width: 25px;
        height: 25px;
    }

    .professor {
        font-size: 1.4rem;
    }

    .instructor p {
        font-size: 1.2rem;
        margin-top: 4px;
    }

    .overall-rating span {
        margin: 0 0 5px;
        font-size: 3.9rem;
    }

    .review-stars img {
        max-width: 150px;
        max-height: 30px;
    }

    .box-border {
        border-right: 1px solid lightgrey;
    }

    .box {
        padding: 10px 25px;
    }

    .box img {
        width: 65px;
        height: 65px;
        margin-bottom: 15px;
    }

    .box h2 {
        margin-bottom: 15px;
        font-size: 1.6rem;
    }

    .box p {
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    .row.rate-btn {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    a#rate-button {
        font-size: 1.6rem;
    }

    .additional-statistics {
        padding: 10px 25px;
    }

    .additional-statistics p {
        font-size: 1.2rem;
        margin-left: 20px;
        line-height: 55px;
    }

    .additional-statistics img {
        width: auto;
        height: auto;
        margin-top: 0;
    }

    .reviews-wrapper {
        margin-top: 30px;
    }

    .reviews-wrapper h2 {
        font-size: 1.6rem;
        margin-top: 15px;
        padding: 10px 30px;
    }

    .rating-col {
        height: 55px;
    }

    .break {
        line-height: 20px;
    }

    img.user-avatar {
        width: 55px;
    }

    #username, #date {
        font-size: .9rem;
    }

    .user-overall-rating img {
        width: 109px;
        height: auto;
    }

    .review p {
        font-size: 1.1rem;
    }

    /* ERROR MESSAGE */
    #user-message {
        height: auto;
        font-size: 1.6rem;
    }

    /* CONFIRMATION MESSAGE */
    .alert {
        height: auto;
    }

    .alert h3 {
        font-size: 1.6rem;
    }

    .alert p {
        font-size: 1.3rem;
    }

    a#first-review {
        font-size: 1.2rem;
    }

    img#hand-rating {
        width: 50px;
        height: 50px;
    }

}