/* showcourse.css */

/*
 * LAYOUT
 */
.content {
    width: 100%;
    min-width: 576px;
    padding: 25px 0;
    color: #555e6a;
}

.course-wrapper,
.course-statistics,
.row.rate {
    max-width: 900px;
}

.additional-statistics,
.reviews-wrapper {
    max-width: 750px;
}

/*
 * COURSE WRAPPER
 */
.course-wrapper {
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0;
}

/*
 * SUBJECT-COURSE-CODE COL
 */
.subject-course-code {
    border-right: 1px solid lightgrey;
}

#subject.row {
    height: 50px;
}

#icon.row {
    height: 75px;
}

#subject p {
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
    margin-top: 5px;
    margin-bottom: 0;
}

#icon img {
    margin: 0 auto;
    margin-top: 5px;
    max-width: 55px;
    max-height: 55px;
}

/*
 * COURSE TITLE COL
 */
.course h1 {
    margin: 0 0 10px;
    font-size: 1.4rem;
}

.subject-name {
    font-size: 1.2rem;
}

.professor-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 5px;
}

.professor {
    margin-right: 15px;
    font-size: 1.2rem;
}

.instructor p {
    margin-bottom: 5px;
    margin-top: 3px;
    font-size: 1.2rem;
}

/*
 * OVERALL RATING
 */
.overall-rating span {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 3.9rem;
    color: #ffad01;
    line-height: 100%;
    vertical-align: top;
}

.review-stars img {
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 30px;
    margin-top: 7px;
}

/*
 *  ERROR MESSAGES
 */
.alert {
    height: 110px;
    text-align: center;
}

.alert h3 {
    font-size: 1.6rem;
}

.alert p {
    font-size: 1.3rem;
}

/*
 * COURSE STATISTICS
 */
.blue-banner {
    height: auto;
    background-color: var(--main-blue);
    color: #fff;
}

.course-statistics {
    margin: 0 auto;
    text-align: center;
    padding: 25px 0;
}

.box {
    padding: 10px 25px;
}

.box img {
    width: 65px;
    height: 65px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.box h2 {
    margin-bottom: 15px;
    font-size: 1.6rem;
}

.box p {
    font-size: 1.1rem;
    margin-bottom: 0;
}

/*
 * RATE BUTTON
 */
.row.rate {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.col-2.offset-9.rate-btn {
    padding: 0;
}

#rate-button {
    padding: 10px 15px;
    margin: 0;
    width: 150px;
    height: 56px;
    background-color: var(--main-orange);
    border-radius: 10px;
}

#rate-button a#rate {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

#rate-button:hover,
#rate-button a#rate:hover {
    background-color: var(--main-blue);
    color: #fff;
}

/*
 * ADDITIONAL STATISTICS
 */
.additional-statistics-banner {
    height: auto;
}

.additional-statistics {
    margin: 0 auto;
    padding: 10px 25px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    background-color: #fafafa;
}

.rating-row {
    height: 45px;
}

.additional-statistics-banner button {
    width: auto;
    height: 30px;
    border-radius: 25px;
    background-color: lightgrey;
    border: none;
}

.additional-statistics-banner button:hover {
    background-color: #bdbdbd;
}

.additional-statistics-banner p {
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 45px;
}

.additional-statistics-banner img {
    width: 96px;
    height: auto;
    margin-top: 10px;
    background-color: transparent;
}

/*
 * REVIEWS WRAPPER
 */
.reviews-wrapper {
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px 30px;
}

.reviews-wrapper h2 {
    margin: 15px 0;
    font-size: 1.3rem;
}

.list-group.list-group-flush,
.list-group-item.d-flex.flex-row.review-item {
    padding: 0;
}

/*
 * REVIEW LAYOUT
 */
.review-sidebar {
    width: 20%;
    padding: 2%;
}

.review {
    width: 80%;
    padding: 2%;
}

/*
 * REVIEW SIDEBAR
 */
img.user-avatar {
    width: 55px;
    height: auto;
}

#username, #date {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: .9rem;
    text-align: center;
}

/*
 * REVIEW
 */
.user-overall-rating img {
    width: 96px;
    height: auto;
}

.review p {
    margin: 5px 0;
    font-size: 1rem;
}

.comment-tips {
    color: #3490dc;
}

/*
 * VOTING FEEDBACK
 */
.thumbs-up img,
.thumbs-down img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

/*
 * IF NO REVIEWS
 */
.no-reviews-wrapper {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 900px;
}

.review-banner {
    height: auto;
    background-color: #1C4A8C;
    padding: 0;
}

a#first-review {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    padding: 30px 30px;
}

a#first-review:hover {
    background-color: var(--main-orange);
}

img#hand-rating {
    width: 50px;
    height: 50px;
    margin-right: 25px;
}

/*
 *  ERROR MESSAGES
 */
#user-message {
    height: 110px;
    font-size: 1.6rem;
}

/*
*  @MEDIA QUERIES
*/
@media (min-width: 768px) and (max-width: 991px) {

    #subject p {
        font-size: 1.3rem;
    }

    #icon img {
        max-width: 75px;
        max-height: 75px;
    }

    .course h1 {
        font-size: 1.7rem;
    }

    .additional-statistics {
        padding: 20px 5px;
    }

    .additional-statistics-banner img {
        width: auto;
        height: auto;
    }

    .box-border {
        border-right: 1px solid lightgrey;
    }

    .break {
        display: block;
        line-height: 20px;
    }

    .reviews-wrapper {
        margin-top: 30px;
    }

    .reviews-wrapper h2 {
        font-size: 1.6rem;
    }

}

@media (min-width: 992px) {

    #subject p {
        font-size: 1.3rem;
    }

    #icon img {
        max-width: 75px;
        max-height: 75px;
    }

    .course h1 {
        font-size: 1.7rem;
    }

    .professor {
        font-size: 1.4rem;
    }

    .instructor {
        font-size: 1.2rem;
    }

    .additional-statistics {
        padding: 20px 5px;
    }

    .box-border {
        border-right: 1px solid lightgrey;
    }

    .break {
        display: block;
        line-height: 20px;
    }

    .box p {
        font-size: 1.2rem;
    }

    .additional-statistics,
    .reviews-wrapper {
        max-width: 850px;
    }

    .additional-statistics-banner img {
        width: auto;
        height: auto;
    }

    .row.rate {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .reviews-wrapper {
        margin-top: 30px;
    }

    .user-overall-rating img {
        width: 109.1px;
        height: auto;
    }

    .reviews-wrapper h2 {
        font-size: 1.6rem;
    }

    .review p {
        font-size: 1.1rem;
    }

}