/* showcourse.css */

.content {
    width: 100%;
    min-width: 576px;
}

.max-col-width {
    max-width: 900px;
    padding: 0;
}

/*
 * SUBJECT-COURSE-CODE
 */
.course-wrapper {
    margin: 0 auto;
    color: #000;
    margin-top: 115px;
    margin-bottom: 20px;
}

#subject.row {
    height: 30%;
}

#icon.row {
    height: 70%;
}

.subject-course-code {
    border-right: 1px solid lightgrey;
}

#subject p {
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
    margin-bottom: 0;
}

#icon img {
    max-width: 75px;
    max-height: 75px;
    margin: 0 auto;
}

/*
 * COURSE
 */
.course h1 {
    margin: 0 0 10px;
    font-size: 2.4rem;
}

.professor {
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.instructor {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.professor-icon {
    width: 25px;
    height: 25px;
    margin-right: 7px;
}

/*
 * OVERALL RATING
 */
.overall-rating {
    height: 70%;
}

.overall-rating span {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 3.9rem;
    color: #ffad01;
}

.review-stars {
    height: 30%;
    color: #6574cd;
}

.review-stars img {
    width: 150px;
    height: auto;
    margin-top: 7px;
}

/*
 * COURSE STATISTICS
 */
.blue-banner {
    height: auto;
    background-color: #1C4A8C;
    color: #fff;
    padding: 25px 25px;
}

.course-statistics {
    margin: 0 auto;
    text-align: center;
}

.box {
    padding: 10px 25px;
}

.box img {
    width: 65px;
    height: 65px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.box h2 {
    margin-bottom: 15px;
}

.box p {
    font-size: 1.2rem;
    margin-bottom: 0;
}

/*
 * ADDITIONAL COURSE STATISTICS
 */
.additional-statistics {
    height: 100px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: lightgrey;
}


/*
 * REVIEWS WRAPPER
 */
.reviews-wrapper {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 750px;
    padding: 0;
    background-color: #dcdcdc;
}

.list-group.list-group-flush {
    padding: 0;
}

.list-group-item.d-flex.flex-row.review-item {
    padding: 0;
    border: 1px solid green;
}

/*
 * REVIEW SIDEBAR
 */
.review-sidebar {
    width: 20%;
    height: 100%;
    padding: 2%;
}

.user-avatar {
    height: 50%;
}

.user-avatar img {
    margin: 0 auto;
    width: 80%;
    height: auto;
}

.username-date {
    margin-top: 10px;
    width: 100%;
    height: 50%;
}

#username, #date {
    margin-bottom: 0;
    font-size: .9rem;
    text-align: center;
}

#username {
    margin-bottom: 3px;
}

/*
 * REVIEW
 */
.review {
    width: 80%;
    padding: 20px;
    background-color: oldlace;
}

.user-overall-rating img {
    width: 120px;
    height: auto;
}

.review p {
    margin: 5px 0;
    font-size: 1.2rem;
    color: #555e6a;
}

/*
 * VOTING FEEDBACK
 */
.voting-feedback {
    background-color: palegoldenrod;
}

.thumbs-up img,
.thumbs-down img{
    width: 25px;
    height: 25px;
}







.list-group {
    padding: 20px;
    text-align: left;
    font-size: 1.2rem;
}

.subject-course-code p, .course a,
.course-details p {
    color: #29313e;
}










/*
 * IF NO REVIEWS
 */
.noreviews-wrapper {
    margin: 0 auto;
    margin-top: 80px;
}

.purple-banner {
    height: auto;
    background-color: #7886d7;
    color: #fff;
    padding: 30px 30px;
}

img#hand-rating {
    width: 50px;
    height: 50px;
    margin-right: 25px;
}

a#first-review {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
}

a#first-review:hover {
    color: #3c436b;
}






    /*background-color: #7886d7;*/
/*background-color: #6574cd;*/







