/* homepage.css */

/*
 * CONTENT COLUMN
 */
#content-column {
    height: 100%;
    padding: 20px 30px;
}

#content-column h1 {
    color: #666666;
}

#content-column p {
    color: #595959;
    font-size: 1.6rem;
}

/*
 * BUTTON
 */
#search-course {
    padding: 10px 15px;
    margin: 0;
    width: 215px;
    height: 56px;
    background-color: var(--main-orange);
    border-radius: 10px;
}

#content-column #search-course a#search {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    float: left;
}

#search-course:hover,
#search-course a#search:hover {
    background-color: var(--main-blue);
    color: #fff;
}

/*
 * TRANSITION
 */
.transition {
    min-width: 470px;
    width: 100%;
    position: relative;
    height: 100px;
    background: #fff;
}

svg {
    min-width: 470px;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 100px;
    fill: var(--main-blue);
}

.end {
    min-width: 470px;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: var(--main-blue);
}

/*
 *  SCREEN: XS
 */
@media (max-width: 575px) {

    .gif {
        display: none;
    }

    .content {
        width: 100%;
        min-width: 470px;
    }

    .layout-hero {
        margin-top: 120px;
        height: 513px;
    }

    #content-column {
        text-align: left;
    }

    h1#content-heading {
        margin: 30px 0;
        font-size: 2.3rem;
    }

    p#content-text {
        margin: 45px 0 55px;
        font-size: 1.6rem;
    }

}

/*
 *  SCREEN: SM
 */
@media (min-width: 576px) and (max-width: 767px) {

    .layout-hero {
        height: 577.5px;
    }

    .gif {
        max-width: 600px;
    }

    .gif, img.gif {
        width: 450px;
        height: 337.5px;
        display: block;
        margin: 0 auto;
    }

    #content-column {
        max-width: 600px;
        height: 240px;
        padding: 0 20px;
        text-align: left;
    }

    #content-column h1 {
        font-size: 2.2rem;
    }

    #content-column p {
        margin: 20px 0;
        font-size: 1.2rem;
    }

    .end {
        height: 25px;
    }
}

/*
 *  SCREEN: MD
 */
@media (min-width: 768px) and (max-width: 991px) {

    .layout-hero {
        height: 562.5px;
    }

    .gif, img.gif {
        width: 450px;
        max-width: 670px;
        height: 337.5px;
        display: block;
        margin: 0 auto;
    }

    #content-column {
        max-width: 670px;
        height: 225px;
        padding: 0 20px;
        text-align: center;
    }

    #content-column h1 {
        font-size: 2.6rem;
    }

    #content-column p {
        margin: 20px 0 25px;
        font-size: 1.2rem;
    }

    #search-course {
        margin: 0 auto;
    }

    .end {
        height: 35px;
    }

}

/*
 *  SCREEN: LG
 */
@media (min-width: 992px) and (max-width: 1199px) {

    .content {
        width: 100%;
    }

    .layout-hero {
        margin-top: 180px;
        height: 430px;
    }

    #gif {
        margin-top: 17.5px;
    }

    .gif, img.gif {
        margin: 0;
        padding: 0;
        max-width: 550px;
        height: auto;
    }

    #content-column {
        max-width: 440px;
        padding: 0 35px 0 0;
        text-align: right;
    }

    #content-column h1 {
        margin-top: 30px;
        font-size: 2.5rem;
    }

    #content-column p {
        margin: 35px 0 45px;
        font-size: 1.4rem;
    }

    #search-course {
        float: right;
    }

    .transition {
        margin-top: 27px;
    }

}

/*
 *  SCREEN: XL
 */
@media (min-width: 1200px) {

    .content {
        width: 100%;
    }

    .layout-hero {
        margin: 0 auto;
        margin-top: 170px;
        max-width: 1300px;
        height: 450px;
    }

    .gif {
        margin: 0;
        padding: 0;
        width: 600px;
        height: 450px;
    }

    img.gif {
        float: right;
    }

    #content-column {
        padding: 0 35px 0 15px;
        text-align: right;
    }

    #content-column h1 {
        margin-top: 85px;
        font-size: 2.7rem;
    }

    #content-column p {
        margin: 35px 0 45px;
        font-size: 1.7rem;
    }

    #search-course {
        float: right;
    }

    .transition {
        margin-top: 15px;
    }

}