/* homepage.css */

html {
    background-color: #3B4691;
}

body, main, .content, .app {
    background-color: #fff;
}

/*
 * GIF
 */
.layout-hero {
    width: 100%;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.gif, img.gif {
    max-width: 100%;
    height: auto;
}

/*
 * CONTENT COLUMN
 */
#content-column {
    height: 100%;
    padding: 0 20px 10px;
}

#content-column h1 {
    margin-bottom: 15px;
    font-weight: 300;
    color: #000;
    font-size: 1.7rem;
}

#content-column p {
    margin-bottom: 25px;
    font-weight: 300;
    color: #000;
    font-size: 1.1rem;
}

/*
 * BUTTON
 */
#search {
    width: auto;
    background-color: #FA7308;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px 15px;
    font-family: 'Quicksand', sans-serif;
}

a#search:hover {
    background-color: #3B4691;
    color: #fff;
}

/*
 * TRANSITION
 */
.transition, svg, .end {
    min-width: 320px;
    width: 100%;
    margin: 0;
}

.transition {
    position: relative;
    height: 100px;
    background: #fff;
}

svg {
    position: absolute;
    bottom: 0;
    height: 100px;
    fill: #3B4691;
}

.end {
    height: 35px;
    margin: 0;
    padding: 0;
    background-color: #3B4691;
}

/*
 *  @MEDIA QUERIES
 */
@media (min-width: 576px) and (max-width: 767px) {

    #content-column {
        padding: 0;
    }

    #content-column h1 {
        font-size: 2.1rem;
    }

    #content-column p {
        margin-bottom: 20px;
        font-size: 1.2rem;
    }

    .end {
        height: 25px;
    }

    a#search {
        font-size: 1.4rem;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    #content-column {
        padding: 0;
        max-width: 670px;
        text-align: center;
    }

    #content-column h1 {
        font-size: 2.4rem;
    }

    #content-column p {
        margin: 20px 0 25px;
        font-size: 1.3rem;
    }

    .end {
        height: 25px;
    }

    #search {
        margin: 0 auto;
    }

    a#search {
        font-size: 1.4rem;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {

    .content {
        padding-top: 120px;
    }

    #gif {
        margin-top: 18px;
    }

    .gif, img.gif {
        margin: 0;
        padding: 0;
    }

    #content-column {
        max-width: 440px;
        padding: 0 15px 0 20px;
        text-align: right;
    }

    #content-column h1 {
        margin-top: 30px;
        font-size: 2.5rem;
    }

    #content-column p {
        margin: 35px 0 45px;
        font-size: 1.4rem;
    }

    .end {
        height: 25px;
    }

    #search {
        float: right;
    }

    a#search {
        font-size: 1.4rem;
    }

    .transition {
        margin-top: 80px;
    }

}

@media (min-width: 1200px) {

    .content {
        padding-top: 120px;
    }

    .layout-hero {
        max-width: 1300px;
        height: auto;
        margin: 0 auto;
    }

    #gif {
        margin-top: 18px;
    }

    .gif {
        margin: 0;
        padding: 0;
    }

    #content-column {
        padding: 0 35px 0 15px;
        text-align: right;
        max-width: 550px;
    }

    #content-column h1 {
        margin-top: 30px;
        font-size: 2.7rem;
    }

    #content-column p {
        margin: 35px 0 45px;
        font-size: 1.7rem;
    }

    .end {
        height: 25px;
    }

    #search {
        float: right;
    }

    a#search {
        font-size: 1.4rem;
    }

    .transition {
        margin-top: 80px;
    }

}