/* master.css */

:root {
    --main-blue: #3B4691;
    --main-orange: #FA7308;
    --main-dark-blue: #3B4691;
}

html, body {
    width: 100%;
    background-color: #fff;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*
 * MAIN
 */
main {
    margin-top: 87px;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #fff;
}

.content {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}