/* rate.css */

.content {
    width: 100%;
    min-width: 576px;
    padding: 20px 0 0;
    background-color: var(--main-dark-blue);
}

.course-title-banner {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    text-shadow: 3px 2px rgba(0, 0, 0, .5);
}

/*
 * LEFT COL
 */
.rating-col h1 {
    font-size: 1.9rem;
    text-align: right;
}

/*
 * COURSE TITLE COL
 */
.title {
    border-left: 2px solid lightgrey;
}

.subject-course-code {
    padding-left: 20px;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.course h1 {
    margin: 5px 0;
    font-size: 1.6rem;
    padding-left: 20px;
    margin-bottom: 10px;
}

.professor {
    font-size: 1.2rem;
}

.professor-icon {
    width: 25px;
    height: 25px;
    margin-left: 22px;
    margin-right: 10px;
}

.instructor {
    margin-left: 20px;
}

.instructor p {
    margin-bottom: 0;
    font-size: 1.2rem;
}

/*
 * BLUE BANNER
 */
.blue-wrapper {
    width: 100%;
    height: auto;
    background-color: var(--main-dark-blue);
}

.content-wrapper {
    max-width: 850px;
    margin: 0 auto;
    padding: 10px 25px;
}

.row.card-header,
.box1,
.box2 {
    padding: 0;
}

.card-header {
    background-color: var(--main-dark-blue);
}

.card-header,
.btn.btn-link {
    color: #fff;
}

.card-body {
    background-color: lightgrey;
}

.card-body p {
    font-size: 1.1rem;
}

.btn.btn-link {
    font-size: 1.3rem;
    padding-bottom: 0;
}

.box1 h2 {
    margin: 15px 0 5px 15px;
}

#grade {
    width: 40%;
}

#survival_tips,
#comments {
    width: 90%;
}

/*
 * ERROR MESSAGES
 */
.alert.alert-danger {
    margin: 0 0 10px 30px;
    padding: 0;
    background-color: transparent;
    border: none;
    color: pink;
    text-align: left;
}

/*
 * RATING STARS
 */
.form-check-inline.stars {
    margin-right: 0;
}

.radio-item {
    display: none;
}

span.star {
    width: auto;
    height: auto;
    float: left;
    margin-right: 0;
    font-size: 1.4rem;
    padding: 10px;
    color: #eee;
}

span.star:hover,
span.selected {
    color: #ff0;
    text-shadow: 0 0 25px #ffffcc;
}

/*
 * BUTTON - YES / NO
 */
.btn-group.btn-group-toggle label.btn.btn-warning,
.btn-group.btn-group-toggle label.btn.btn-warning:hover {
    width: 120px;
    height: 45px;
    font-size: 1.3rem;
    border-radius: .30rem;
}

/* Btn Idle state */
.btn-group.btn-group-toggle label.btn.btn-warning {
    background-color: var(--main-orange);
    border: none;
    color: #fff;
}

/* Btn Hover state */
.btn-group.btn-group-toggle label.btn.btn-warning:hover {
    background-color: #ffc107;
}

/* Btn Active state */
.btn-group.btn-group-toggle label.btn.btn-warning.active {
    border: 2px solid #fff;
    background-color: #ffc107;
    box-shadow: 0 0 7px #fff2cd;
}

/* Margin between buttons */
label.btn.btn-warning:not(:last-child):not(.dropdown-toggle) {
    margin-right: 35px;
}

.form-group,
.btn-group.btn-group-toggle {
    margin-top: 15px;
}

/*
 * SUBMIT BUTTON
 */
.submit-review {
    margin: 20px 0 50px;
    width: 215px;
    background-color: var(--main-orange);
    border: none;
    height: auto;
    border-radius: 10px;
    font-size: 1.4rem;
    font-family: 'Quicksand', sans-serif;
}