/* rate.css */

.content {
    width: 100%;
    min-width: 576px;
    padding: 25px 0 0;
    color: #555e6a;
}

.course-title-banner {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
}

/*
 * LEFT COL
 */
.rating-col {
    border-right: 1px solid lightgrey;
}

/*
 * COURSE TITLE COL
 */
.course h1 {
    margin: 0 0 10px;
    font-size: 1.4rem;
}

.professor {
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.instructor {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.professor-icon {
    width: 25px;
    height: 25px;
    margin-right: 7px;
}

/*
 * BLUE BANNER
 */
.blue-wrapper {
    width: 100%;
    height: auto;
    background-color: var(--main-dark-blue);
    color: #fff;
}

.content-wrapper  {
    max-width: 850px;
    margin: 0 auto;
    padding: 10px 25px;
}










.heading {
    border: 1px solid red;
}



/*
 * FORM
 */
h2 {
    margin: 40px 0 0;
    font-size: 1.2rem;
}

/*
 * RATING STARS
 */
.form-check-inline.stars {
    margin-right: 0;
}

.radio-item {
    display: none;
}

span.star {
    width: auto;
    height: auto;
    float: left;
    margin-right: 0;
    font-size: 1.4rem;
    padding: 10px;
    color: #eee;
}

span.star:hover,
span.selected {
    color: #ff0;
    text-shadow: 0 0 25px #ffffcc;
}

/*
 * BUTTON - YES / NO
 */
.btn-group.btn-group-toggle label.btn.btn-warning,
.btn-group.btn-group-toggle label.btn.btn-warning:hover {
    width: 130px;
    height: 45px;
    font-size: 1.3rem;
    border-radius: .30rem;
}

/* Btn Idle state */
.btn-group.btn-group-toggle label.btn.btn-warning {
    background-color: #ffe083;
}

/* Btn Hover state */
.btn-group.btn-group-toggle label.btn.btn-warning:hover {
    background-color: #ffc107;
}

/* Btn Active state */
.btn-group.btn-group-toggle label.btn.btn-warning.active {
    border: 2px solid #fff;
    background-color: #ffc107;
    box-shadow: 0 0 7px #fff2cd;
}

/* Margin between buttons */
label.btn.btn-warning:not(:last-child):not(.dropdown-toggle) {
    margin-right: 25px;
}

/*
 * ERROR MESSAGES
 */
.alert.alert-danger {
    margin-top: 5px;
    padding: 0;
    font-size: 1rem;
}

.form-group,
.btn-group.btn-group-toggle {
    margin-top: 15px;
}

/*
 * SUBMIT BUTTON
 */
.submit-review {
    margin: 20px 0 50px;
    width: 215px;
    background-color: var(--main-orange);
    border: none;
    height: auto;
    border-radius: 10px;
    font-size: 1.4rem;
    font-family: 'Quicksand', sans-serif;
}

.self-assessment label {
    margin: 20px 0 20px;
    font-size: 1.2rem;
    font-weight: 500;
    color: lightgrey;
    font-family: 'Quicksand', sans-serif;
}





/* CLEAN AFTER */

/*label.star {*/
/*cursor: pointer;*/
/*}*/

/*color: #666666;*/
/*color: #595959;*/
