/* rate.css */

main, html, body {
    background-color: #757db2;
}


.content {
    width: 100%;
    min-width: 576px;
    background-color: #8990bd;
}

.row.course-title-banner {
    width: 100%;
    height: auto;
    background-color: #4e589c;
}


.course-title-col {
    /*max-width: 900px;*/
    margin: 0 auto;

}

h1 {
    margin: 30px;
    color: #fff;
    font-size: 1.7rem;
    text-shadow: 3px 2px rgba(0, 0, 0, .5);
}






/*
 * FORM
 */
h2 {
    margin: 40px 0 0;
    font-size: 1.2rem;
}

/*
 * RATING STARS
 */
.form-check-inline.stars {
    margin-right: 0;
}

.radio-item {
    display: none;
}

span.star {
    width: auto;
    height: auto;
    float: left;
    margin-right: 0;
    font-size: 1.4rem;
    background-color: var(--main-blue);
    padding: 10px;
    color: #eee;
}

span.star:hover,
.selected {
    color: #ff0;
    text-shadow: 0 0 25px #ffffcc;
}

/*
 * BUTTON - YES / NO
 */
.btn-group.btn-group-toggle label.btn.btn-warning,
.btn-group.btn-group-toggle label.btn.btn-warning:hover {
    width: 130px;
    height: 45px;
    font-size: 1.3rem;
    border-radius: .30rem;
}

/* Btn Idle state */
.btn-group.btn-group-toggle label.btn.btn-warning {
    background-color: #ffe083;
}

/* Btn Hover state */
.btn-group.btn-group-toggle label.btn.btn-warning:hover {
    background-color: #ffc107;
}

/* Btn Active state */
.btn-group.btn-group-toggle label.btn.btn-warning.active {
    border: 2px solid #fff;
    background-color: #ffc107;
    box-shadow: 0 0 7px #fff2cd;
}

/* Margin between buttons */
label.btn.btn-warning:not(:last-child):not(.dropdown-toggle) {
    margin-right: 25px;
}

/*
 * ERROR MESSAGES
 */
.alert.alert-danger {
    margin-top: 5px;
    padding: 0;
    font-size: 1rem;
}

.form-group,
.btn-group.btn-group-toggle {
    margin-top: 15px;
}

/*
 * SUBMIT BUTTON
 */
.submit-review {
    margin: 20px 0 50px;
    width: 215px;
    background-color: var(--main-orange);
    border: none;
    height: auto;
    border-radius: 10px;
    font-size: 1.4rem;
    font-family: 'Quicksand', sans-serif;
}

.self-assessment label {
    margin: 20px 0 20px;
    font-size: 1.2rem;
    font-weight: 500;
    color: lightgrey;
    font-family: 'Quicksand', sans-serif;
}

/* CLEAN AFTER */

.gradient {
    height: 500px;
    background: linear-gradient(var(--main-blue), #4e589c, #fff);
    border: 1px solid black;
}

/*label.star {*/
/*cursor: pointer;*/
/*}*/

/*color: #666666;*/
/*color: #595959;*/
