/* reviews/search.css */

.content {
    padding-bottom: 40px;
}

.blue-banner {
    width: 100%;
    padding: 35px 10px 25px;
    background-color: var(--main-blue);
}

.blue-banner h1 {
    margin-bottom: 35px;
    font-size: 2.3rem;
    color: #fff;
    text-align: center;
}

/* FORM
 */
.form-group {
    width: 100%;
    height: auto;
    overflow: auto;
    padding: 0 15px;
}

.padding {
    margin: 0 auto;
    width: auto;
    max-width: 600px;
    padding: 7px;
    background-color: #626aa7;
    border-radius: 35px;
}

input.form-control {
    width: 100%;
    height: 60px;
    color: grey;
    font-size: 1.2rem;
    background-color: #fff;
    border-radius: 35px 0 0 35px;
    border: none;
    border-right: 1px solid #ced4da;
}

.search-box,
.search-button {
    padding: 0;
}

button.btn.btn-default {
    width: 100%;
    height: 60px;
    padding: 10px;
    border: none;
    border-radius: 0 35px 35px 0;
    background-color: #fff;
}

button.btn.btn-default img {
    max-width: 100%;
    max-height: 100%;
}

button.btn.btn-default:hover {
    background-color: lightgrey;
}

/*
 *  @MEDIA QUERIES
 */
@media (min-width: 576px) and (max-width: 767px) {

    .blue-banner {
        padding-bottom: 35px;
    }

}

@media (min-width: 768px) {

    .blue-banner {
        padding: 45px 10px 35px;
    }

    .results-wrapper,
    .no-results-wrapper {
        padding-top: 40px;
    }

}