/* nav-blue.css */

nav.navbar.navbar-expand-lg.navbar-light {
    background-color: #3B4691;
}

nav.navbar.navbar-expand-lg.navbar-light .nav-link {
    color: #ccccdf;
}

/*
 * NAV COLLAPSED
 */
nav ul.navbar-nav.ml-auto {
    background-color: rgba(59, 70, 145, 0.8);
}

button#navbar-toggler.navbar-toggler {
    border-color: #fff;
}

/*
 * LINKS
 */

#navbarSupportedContent li.nav-item a.nav-link {
    color: #ccccdf;
}

#navbarSupportedContent li.nav-item a.nav-link:hover {
    color: #fff;
}

/*
 *  NO BORDER BLUR IN COLLAPSED MENU
 */
nav ul.navbar-nav.ml-auto {
    box-shadow: none;
}

/*
 *  SCREEN: XS
 */
@media (max-width: 575px) {

    a.navbar-brand {
        margin-left: 20px;
    }

    button#navbar-toggler.navbar-toggler {
        margin-right: 5px;
    }

}