/* nav.css */

/*
 * NAV EXTENDED
 */
nav.navbar.navbar-expand-lg.navbar-light {
    position: fixed;
    top: 0;
    width: 100%;
    height: 87px;
    padding: 0 5px 0 0;
    z-index: 3;
    background-color: #fff;
    font-size: 1.4rem;
}

/*
 * LOGO
 */
a.navbar-brand {
    width: 218px;
    height: 87px;
    padding: 0;
    margin: 0 0 0 5px;
}

#logo {
    width: 218px;
    height: 47px;
    margin: 20px 0;
    padding: 0;
}

/*
 * LINKS
 */
nav.navbar.navbar-expand-md.navbar-light .nav-link {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

#navbarSupportedContent li.nav-item a.nav-link {
    margin-left: 15px;
}

/*
 *  SCREEN: XS
 */
@media (max-width: 575px) {

    a.navbar-brand {
        margin-left: 20px;
    }

    button#navbar-toggler.navbar-toggler {
        margin-right: 25px;
    }

    nav ul.navbar-nav.ml-auto {
        background-color: rgb(252, 252, 252);
        box-shadow: 1px 1px 10px 1px #DEDEDD;
    }

}

/*
 *  SCREEN: SM
 */
@media (min-width: 576px) and (max-width: 767px) {

    button#navbar-toggler.navbar-toggler {
        margin-right: 25px;
    }

    nav ul.navbar-nav.ml-auto {
        background-color: rgb(252, 252, 252);
        box-shadow: 1px 1px 10px 1px #DEDEDD;
    }

}