/* nav.css */

/*
 * NAV EXTENDED
 */
nav.navbar.navbar-expand-md.navbar-light {
    position: fixed;
    top: 0;
    width: 100%;
    height: 87px;
    padding: 0;
    z-index: 3;
    background-color: #fff;
    font-size: 1.4rem;
}

/*
 * LOGO
 */
a.navbar-brand {
    width: 218px;
    height: 87px;
    padding: 0;
    margin: 0;
}

#logo {
    width: 218px;
    height: 47px;
    margin: 20px 0;
    padding: 0;
}

/*
 * LINKS
 */
nav.navbar.navbar-expand-md.navbar-light .nav-link {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

#navbarSupportedContent li.nav-item a.nav-link {
    margin-left: 15px;
}